[submodule "external/functions"]
	path = external/functions
	url = https://github.com/gabri-aero/functions
[submodule "external/fft"]
	path = external/fft
	url = https://github.com/gabri-aero/fft
[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
