name: Upload Python Package

on:
  release:
    types: [published]
  workflow_dispatch: 

permissions:
  contents: read

jobs:
  release-build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Show version from targeting tag
        run: echo "VERSION=${{ github.event.release.tag_name || '0.0.0-test' }}" >> $GITHUB_ENV
          
      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3

      - name: Build sdist
        if: matrix.os == 'ubuntu-latest'
        run: |
          python -m pip install --upgrade pip build twine
          python -m build --sdist
          twine check dist/*

      - name: Upload wheel artifacts
        uses: actions/upload-artifact@v5
        with:
          name: dist-${{ matrix.os }}
          path: |
            dist/*.tar.gz
            wheelhouse/*.whl

  pypi-publish:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    if: github.event_name == 'release'
    needs:
      - release-build
    permissions:
      id-token: write
      contents: read
  
    environment:
      name: pypi
      url: https://pypi.org/
  
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v6
        with:
          pattern: dist-*
          merge-multiple: true
          path: dist
  
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist
