name: Upload Python Package

on:
  release:
    types: [published]
  workflow_dispatch: 

permissions:
  contents: read

jobs:
  release-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Show version from targeting tag
        run: echo "VERSION=${{ github.event.release.tag_name || '0.0.0-test' }}" >> $GITHUB_ENV
          
      - name: Install build dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install scikit-build-core pybind11 pybind11-stubgen cibuildwheel

      - name: Build distributions
        run: |
          python -m cibuildwheel --output-dir wheelhouse

      - name: Upload wheel artifacts
        uses: actions/upload-artifact@v4
        with:
          name: wheel
          path: wheelhouse/*.whl

  pypi-publish:
    runs-on: ubuntu-latest
    needs:
      - release-build
    permissions:
      id-token: write

    # Dedicated environments with protections for publishing are strongly recommended.
    # For more information, see: https://docs.github.com/en/actions/deployment/targeting-different-environments/using-environments-for-deployment#deployment-protection-rules
    environment:
      name: pypi
      url: https://pypi.org/project/gfeatpy/${{ github.event.release.name }}

    steps:
      - name: Retrieve wheels
        uses: actions/download-artifact@v4
        with:
          name: wheel
          path: wheelhouse/

      - name: Publish wheel artifacts to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: wheelhouse/
